ignore-scripts=true
verify-store-integrity=false
strict-peer-dependencies=false
resolution-mode=highest
prefer-workspace-packages=true
onlyBuiltDependencies=[]
package-import-method=clone-or-copy
node-linker=isolated
